.moviesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    margin: 1px;
}

.movieContainer {
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    overflow: hidden;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: silver;
    border-radius: 11px;
    background-size: cover;
    background-position: center;
}

.movieContainer div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

.movieContainer img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}
