.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: cadetblue;
    height: auto;
    margin-bottom: 6px;
}

.darkModeHeader {
    background-color: #37474f; /* Темніший фон */
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    flex: 1;
}

.darkModeLink {
    color: #ffeb3b; /* Світло-жовтий */
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
}

.userNameContainer {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 3px 5px;
}

.genresContainer {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: center;
}

.genreLink {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #004d40;
    white-space: nowrap;
}

.darkModeGenreLink {
    background-color: #00695c; /* Світліший фон у темному режимі */
}

.activeGenreLink {
    background-color: #ff9800;
    font-size: 1.2em;
    font-weight: bold;
}

.darkLightModeButton {
    margin-right: 11px;
    border-radius: 6px;
    background-color: black;
    color: snow;
}

.darkMode {
    background-color: #121212;
    /*color: #e0e0e0;*/
}

.lightMode {
    background-color: #ffffff;
    color: #000000;
}
