.Header {
    display: flex;
    flex-direction: column; /* Розміщує елементи вертикально */
    align-items: center; /* Центрує елементи по горизонталі */
    padding: 10px; /* Відступи всередині заголовка */
    background-color: cadetblue;
    height: auto; /* Висота по контенту */
    margin-bottom: 6px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center; /* Центрує елементи по горизонталі */
    width: 100%; /* Забезпечує, що контейнер заповнює доступний простір по ширині */
}

.linkContainer {
    display: flex;
    flex-direction: column; /* Робить контейнер вертикальним */
    gap: 10px; /* Відстань між посиланнями */
    align-items: center; /* Центрує посилання по горизонталі */
    margin: 0 auto; /* Центрує контейнер по горизонталі */
}

.userContainer {
    width: 150px;
    display: flex;
    align-items: center; /* Центрує елемент по вертикалі */
}

.genresContainer {
    display: flex;
    gap: 10px; /* Відстань між жанрами */
    flex-wrap: wrap; /* Дозволяє переносити жанри на новий рядок при переповненні */
    margin-top: 10px; /* Відстань між titleContainer та genresContainer */
}

.genreLink {
    text-decoration: none; /* Без підкреслення */
    color: white; /* Білий текст */
    padding: 5px 10px; /* Відступи всередині */
    border-radius: 5px; /* Закруглені кути */
    background-color: #004d40; /* Колір фону для жанрів */
}

